<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @object_type.title %>
</p>

<%= link_to 'Edit', edit_object_type_path(@object_type) %> |
<%= link_to 'Back', object_types_path %>
